NEXT_PUBLIC_API_URL="http://localhost:4000/api/v1"
NEXT_PUBLIC_STORE_NAME="Just Adure Nigeria Ltd"
NEXT_PUBLIC_STORE_EMAIL="hello@example.com"
NEXT_PUBLIC_STORE_PHONE="+234 000 000 0000"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
